
.box1{

    width: 20%;
    height: 20%;
    background-color: rgb(136, 255, 0);
    
    
   
}
.box2{

    width: 20%;
    height: 20%;
    background-color: rgb(76, 0, 255);
    position: absolute;
    left: 200px;
    top: 100px;
   
}